html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.rch-navbar {
	background-color: #00264a;
	color: white;
	border-top: 0.4em solid #0098cc;
}

.rch-header-user {
	line-height: 100%;
	color: #C2C2C2;
	height: 50px;
	display: block;
}

.navbar {
	margin-bottom:0px;
}

#map-panel {
	height: 600px;
}

.main-content {
	margin-top: 100px;
}

.odd {
	background-color: #cde7fc;
}

.history > th {
	padding: 5px;
}
.history td {
	padding: 5px;
}

.table {
	display: table;
}
.table-header {
	display: table-row;
}
.table-row {
	display: table-row;
}
.table-cell {
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
	border: solid;
	border-width: thin;
}
td {
	border: solid black 1px;
	padding: 10px;
}
th {
	border: solid black 1px;
	padding: 10px;
}
