html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Arial, Verdana, Geneva, sans-serif;
	font-size: 92%;
}

/* --------------------------------------------------------------------------------------------------------------------
                              												GENERAL STUFF
---------------------------------------------------------------------------------------------------------------------*/

.main-content {margin-top:110px;}

/* -----------------------------------------------------------------------------
                        Panel with flexbox body
		  			(e.g. Manage-panels with header-body-table structure)
----------------------------------------------------------------------------- */
.panel-body {
	overflow-x: auto;
	overflow-y: auto;
}
.panel-flex-body .panel-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
	margin: 0px;
	padding: 15px;
}
.flex-item-fixed {flex:0 0 auto;align-self:auto;}
.flex-item-flex  {flex:1 1 auto;align-self: auto;}

/* -----------------------------------------------------------------------------
                                Menu panel
		          (Manage, Reports - use <ul .nav-list> for items)
----------------------------------------------------------------------------- */
.panel-menu {margin:0px 15px 15px 0px;min-width:230px;border:0px;box-shadow:2px 2px 6px #888888;}
.panel-menu .nav-list>li {line-height:.86;cursor:pointer;white-space:nowrap;font-size:1em;}
.panel-menu .nav-list>li>a {padding-top:9px;padding-bottom:9px;}
.panel-menu .nav-header {
	margin: 10px 0px 5px;
	padding: 0px 0px 5px 3px;
	cursor: default!important;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	color: rgba(0,0,0,0.5);
	font-size: 0.8em!important;
	font-stretch: normal;
	font-weight: bold;
}
.panel-menu .nav-list .active>a,
.panel-menu .nav-list .active>a:hover {background-color:#337ab7;color:white!important;border-radius:4px;}
.panel-menu .nav-list .active>a:active {background-color:#286090;color:white!important;border-radius:4px;}
.panel-menu .nav-list>li>a:hover {background-color:rgba(0,0,0,0.15);color:rgba(0,0,0,0.8)!important;border-radius:4px;}
.panel-menu .nav-list>li>a:active {background-color:#286090;color:white!important;border-radius:4px;}

/* -----------------------------------------------------------------------------
                              Table defaults
----------------------------------------------------------------------------- */
.table {display:table;table-layout:fixed;min-width:600px;}

.table>tbody>tr>td,
.table>tbody>tr>th {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:normal;}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {padding:3px 10px;vertical-align:middle;border-top:1px solid rgba(0,0,0,0.05);}

.table-striped>tbody>tr:nth-of-type(even) {background-color: rgba(0,0,0,0.05);}
.table-striped>tbody>tr:nth-of-type(odd)  {background-color: transparent;}
.table-hover  >tbody>tr:hover						  {background-color: rgba(0,0,0,0.15);}

/* -----------------------------------------------------------------------------
                          Clickable table header
			        (for e.g. sorting, use <a> inside header cells)
----------------------------------------------------------------------------- */
.thead-clickable>tr>td,
.thead-clickable>tr>th {
	height: 40px;
	font-size: .94em;
	padding: 0px !important;
	white-space: normal !important;
	background-color: rgba(0,0,0,0.1);
	overflow: hidden;
	text-overflow: ellipsis;
}
/* Uses flex, as normal block won't center vertically when full-height */
.thead-clickable>tr>th>a {
  text-decoration: none !important;
  color: inherit;
	background-color: transparent;
  padding: 0px 8px;
  display: -webkit-flex;
  display: -moz-flex;
	display: -ms-flex;
	display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
	-ms-align-items: center;
  align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
  height: 100%;
}
.thead-clickable>tr>th>a:hover {background-color: rgba(0,0,0,0.15);}
.thead-clickable>tr>th>a:active {background-color: rgba(0,0,0,0.2);}

.sortorder:after {content:'\25b2';color:rgba(0,0,0,0.3);margin-left:4px;}
.sortorder.reverse:after {content:'\25bc';color:rgba(0,0,0,0.3);margin-left:4px;}

/* -----------------------------------------------------------------------------
       Centers content horizontally e.g. in table cells (normal & flex)
----------------------------------------------------------------------------- */
.centered {
	padding: inherit 0px;
	text-align: center !important;
	justify-content: center !important;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
}

/* -----------------------------------------------------------------------------
                              Modal defaults
----------------------------------------------------------------------------- */
.modal-header-modify {border-top-left-radius:4px;border-top-right-radius:4px;}
.modal-title-modify  {color:white;background-color:transparent;}
.modal-body          {overflow:auto;}
.modal-textarea      {max-width:200px;}



/* -----------------------------------------------------------------------------
                              CONTROLS
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
                       Normal checkbox with label
     (controls the position of the checkbox label and makes it clickable)
				       Usage: <label .chk-label><input>...</label>
----------------------------------------------------------------------------- */
.chk-label {
	display: inline-block;
	text-indent: -18px;
	padding-left: 18px;
	font-weight: normal;
	line-height: 1.2;
	cursor: pointer;
}

.chk-label>input {
  vertical-align: middle;
	margin: -1.2% 5px 0px 0px;
	cursor: pointer;
}

/* -----------------------------------------------------------------------------
                   Flat button (gets painted on hover)
				               Use for single-icon buttons
----------------------------------------------------------------------------- */
.btn-flat,
.btn-flat-xs,
.btn-flat-sm,
.btn-flat-lg,
.btn-flat-danger,
.btn-flat-primary,
.btn-flat-success,
.btn-flat-warning {
	border: 0px;
	padding: 8px 6px 6px;
	margin: 0px 0px 0px 2px;
	color: rgba(0,0,0,0.5);
	background: transparent;
	font-size:1.8em;
}
.btn-flat-danger:hover,
.btn-flat-danger:focus,
.btn-flat-danger:active {background-color:#c9302c;color:white;outline:0;}
.btn-flat-danger:disabled {color:rgba(0,0,0,0.3);}
.btn-flat-primary:hover,
.btn-flat-primary:focus,
.btn-flat-primary:active  {background-color:#286090;color:white;outline:0;}
.btn-flat-primary:disabled {color:rgba(0,0,0,0.3);}
.btn-flat    {font-size:1.9em;}
.btn-flat-xs {font-size:0.94em;}
.btn-flat-sm {font-size:1.4em;}
.btn-flat-lg {font-size:2.3em;}

/* -----------------------------------------------------------------------------
                          Squeezebox (Accordion)
----------------------------------------------------------------------------- */
squeezebox.button-style .panel-group {margin:0px;}
squeezebox.button-style .panel-heading {padding:2px 0px;}
squeezebox.button-style .panel-body {padding:0px;}
squeezebox.button-style .panel-title {height:auto;}
squeezebox.button-style .panel-title a {
	text-decoration: none;
  color: inherit;
	background-color: transparent;
  padding: 0px 10px;
	display: flex;
	flex-wrap: wrap;
  align-items: center;
	justify-content: flex-start;
	height: 100%;
}
squeezebox.button-style .panel-title a:focus {outline:0;}
squeezebox.button-style .panel-title a .panel-title-item {margin-right: 10px;}
squeezebox.button-style .panel-title a .panel-title-item.label {padding: 6px;}
squeezebox.button-style .panel-heading:hover {background-color:rgba(0,0,0,0.1);border-top-left-radius:3px;border-top-right-radius:3px;}
squeezebox.button-style .panel-title-plus {
	display: flex;
  align-items: center;
	padding: 0px 3px;
	height: 100%;
}
squeezebox.button-style .panel-title-plus .btn {margin-left:-2px;}
.squeezebox-wrapper {margin:5px 5px 5px 15px;}
/* -----------------------------------------------------------------------------
                              MISC
----------------------------------------------------------------------------- */
h3 {font-size:1.5em;margin:10px 0px;font-weight:bold;}
h4 {font-size:1.2em;margin:5px 0px;font-weight:bold;}

.input[text] {padding:1px 4px;height:1.7em;min-width:130px;}

.blockquote-fine {font-size:100%;padding: 3 4;margin: 0;}

.text {margin-left:5px;}

/* --------------------------------------------------------------------------------------------------------------------
                              									INSTANCE NON-DEFAULTS
---------------------------------------------------------------------------------------------------------------------*/
#formgroupPosition {min-width:200px;max-width:300px;padding-left:15px;}
#formgroupPosition .input-group {margin-bottom:3px;padding:0px;}
#formgroupPosition .input-group-addon {font-size:.8em;font-weight:bold;width:36px;padding:0px;}

#panelManageUsers                        {max-width:900px;}
#panelManageUsers #inputSearchUser       {flex:1 1 70%;align-items:baseline}
#panelManageUsers #tableUsers            {min-width:620px;}
#panelManageUsers #tableUsers #colAction {width:7em;}
#panelManageUsers #btnNewUser            {margin-left:1.4em;}

#panelManageRoles                            {max-width:800px;}
#panelManageRoles #tableRoles #colRole       {width:20%;}
#panelManageRoles #tableRoles #colPrivileges {width:60%;}
#panelManageRoles #tableRoles #colParentRole {width:20%;}
#panelManageRoles #tableRoles #colAction     {width:7em;}
#panelManageRoles #btnNewRole                {margin-left: 1.4em;}

#panelManageModels                           {max-width:700px;}
#panelManageModels #tableModels #colAction   {width:7em;}
#panelManageModels #btnNewModel              {margin-left: 1.4em;}

#panelManageLogins                            {max-width:600px;}
#panelManageLogins .panel-body                {height:700px;padding:0px;}
#panelManageLogins #tableLogins               {min-width:480px;margin-left:-1px;}
#panelManageLogins #tableLogins #colUser      {width:20%;}
#panelManageLogins #tableLogins #colTimestamp {width:42%;}
#panelManageLogins #tableLogins #colIP        {width:18%;}
#panelManageLogins #tableLogins #colSuccess   {width:20%;}
#panelManageLogins #tableLogins tbody tr.failed {background-color:#e25853;color:white;}
#panelManageLogins #tableLogins tbody tr.failed:hover {background-color:#cb4d48;}

#modalbodyPrivileges {max-height:695px;padding:10px 5px 0px 10px;}
#tablePrivileges {margin-top:-1px;min-width:100%;border-collapse:collapse;border:none;}
#tablePrivileges .chk-label {display:block;}
#tablePrivileges tbody tr th {height:35px;font-size:1.15em;border-top:1px solid #337ab7;border-bottom:1px solid #337ab7;}
#tablePrivileges tbody tr:first-child th {border-top-left-radius:4px;border-top-right-radius:5px;}
#tablePrivileges tbody td {height:30px;padding:.85% 6px 0px;white-space:normal;border-right:1px solid #337ab7;}
#tablePrivileges tbody td:hover {background-color:rgba(0,0,0,0.15);}
#tablePrivileges tbody td:empty:hover {background-color:inherit;}
#tablePrivileges tbody tr td:last-child {border-right:0px;}

#loginPanel {min-width:200px;max-width:300px;margin:auto;margin-top:200px;}
#loginPanel .panel-heading {margin:0px;text-align:center;}
#loginPanel h3 {padding:0.05em;margin:0px;}
#loginPanel .form-control {margin-top:.4em;}
#loginPanel .btn-signin {margin-top:20px;}

#map-panel {height:600px;width:100%;margin-bottom:50px;}

#panelManageTrackers {max-width:700px;max-height:800px;padding:0px;}
#panelManageTrackers #squeezeboxRoot>.panel-heading {border-radius:0px;background-color: green}
#panelManageTrackers #tableTrackers #colName   {width:56%;}
#panelManageTrackers #tableTrackers #colModel  {width:18%;}
#panelManageTrackers #tableTrackers #colGID    {width:26%;}
#panelManageTrackers #tableTrackers #colAction {width:7em;}
#trackersPlaceholder {color:rgba(0,0,0,0.3);margin:5px 10px;}
#tableTrackers {margin:0px;border-bottom:1px solid rgba(0,0,0,0.15);min-width:400px;}
#tableTrackers #colAction  {width:7em;}
#tableTrackers thead tr th {height:24px;}
