<div ng-controller="AuthController">

  <div id="loginPanel" class="panel panel-info">
    <div class="panel-heading">
      <h3>Üdvözöljük!</h3>
    </div>
    <div class="panel-body">
      <form class="form-signin">
        <label for="username" class="sr-only">Email address</label>
        <input id="username" class="form-control" placeholder="Felhasználónév" ng-model="username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input id="password" type="password" class="form-control" placeholder="Jelszó" ng-model="password" required>
        <button class="btn btn-lg btn-primary btn-block btn-signin" ng-click="login()">Bejelentkezés</button>
      </form>
    </div>
  </div>
</div>
