<div ng-condivoller="ManageCondivoller">
	<div class="container">
		<div class="row">

			<div class="manage-menu col-md-2">
				<div class="manage-menu-title">Manage</div>
				<div class="table">
					<div class="table-row" ng-click="setSelected('tracker_config')"><div class="table-cell">Tracker Config</div></div>
					<div class="table-row" ng-click="setSelected('my_account')"><div class="table-cell">My Account</div></div>
					<div class="table-row" ng-click="setSelected()"><div class="table-cell" ng-click=" ">Task</div></div>
					<div class="table-row" ng-click="setSelected()"><div class="table-cell" ng-click=" ">Alarm Event</div></div>
					<div class="table-row" ng-click="setSelected()"><div class="table-cell"><b>Admin Functions</b></div></div>
					<div class="table-row" ng-click="setSelected()"><div class="table-cell" ng-click=" ">User Management</div></div>
					<div class="table-row" ng-click="setSelected()"><div class="table-cell" ng-click=" ">I/O Port</div></div>
					<div class="table-row" ng-click="setSelected()"><div class="table-cell" ng-click=" ">User Roles</div></div>
					<div class="table-row" ng-click="setSelected()"><div class="table-cell" ng-click=" ">System Config</div></div>
					<div class="table-row" ng-click="setSelected()"><div class="table-cell" ng-click=" ">Field Customize</div></div>
					<div class="table-row" ng-click="setSelected()"><div class="table-cell" ng-click=" ">Model Management</div></div>
					<div class="table-row" ng-click="setSelected()"><div class="table-cell" ng-click=" ">Login Log</div></div>
					<div class="table-row" ng-click="setSelected()"><div class="table-cell" ng-click=" ">Data Management</div></div>
					<div class="table-row" ng-click="setSelected()"><div class="table-cell" ng-click=" ">System Status</div></div>
				</div>
			</div>

			<div ng-if="selected == 'tracker_config'" ng-include="'html/manage_partials/tracker_config.html'"></div>
			<div ng-if="selected == 'my_account'" ng-include="'html/manage_partials/my_account.html'"></div>
			<div ng-include=""></div>
			<div ng-include=""></div>
			<div ng-include=""></div>
			<div ng-include=""></div>
			<div ng-include=""></div>
			<div ng-include=""></div>
			<div ng-include=""></div>
			<div ng-include=""></div>
			<div ng-include=""></div>
			<div ng-include=""></div>
			<div ng-include=""></div>

		</div>
	</div>
</div>
