<div ng-controller="MapController">
	<div class="container-fluid">
		<div class="row">

			<div class="col-xs-12 col-sm-4 col-md-4">
				<tabset>
					<tab heading="Pozíció">
						<h3>Pozíció meghatározás</h3>
						<div class="row">
							<!-- div class="col-xs-12 col-sm-4 col-md-4" -->
								<form>
									<div class="form-group" id="formgroupPosition">
										<div class="input-group input-group-sm">
										  <span class="input-group-addon">É-D</span>
										  <input type="text" class="form-control" placeholder="hosszúság" ng-model="locate.lat">
										</div>
										<div class="input-group input-group-sm">
										  <span class="input-group-addon">K-Ny</span>
										  <input type="text" class="form-control" placeholder="szélesség" ng-model="locate.lng">
										</div>
										<button type="button" class="btn btn-primary form-control" ng-click="locate.locate()">Keresés</button>
										<p><small><b><u>Cím:</u></b> {{locate.address}}</small></p>
										<p><small><b><u>Távolság:</u></b></small></p>
									</div>
								</form>
							<!-- /div -->

							<!-- div class="col-xs-7 col-sm-6 col-md-7">
								<div class="panel panel-info">
									<div class="panel-heading"><small>Beviteli formátumok</small></div>
									<div class="panel-body">
										<small>
											<a class="toggle-text-head" data-toggle="collapse" href="#degCollapse"><p><b>Fok:perc:mp<br>vagy tizedes fok</a></b><span class="caret"></p>
											<div id="degCollapse" class="collapse">
												<p>Használjon mínusz előjelet az egyenlítőtől délre,
												vagy Greenwich-től nyugatra eső koordinátáknál.</p>
												<p><blockquote small class="blockquote-fine">47:29:56.29 v. 47.498970<br>-19:2:36.97 v. -47.498970</blockquote></p>
											</div>
											<b><a class="toggle-text-head" data-toggle="collapse" href="#nsewCollapse"><p>N-S, E-W jelölés</a><span class="caret"></b></p>
											<div id="nsewCollapse" class="collapse">
												<p>É-D, K-Ny jelölés pozitív tizedes fok értékekkel.</p>
												<p><blockquote small class="blockquote-fine">N47.498970, S47.498970<br>E19.043604, W19.043604</blockquote></p>
											</div>
										</small>
									</div>
								</div>
							</div -->
						</div>
					</tab>

					<tab heading="Útvonal tervezés">
						<h3>Útvonal tervezés</h3>
						<div class="row">
							<div class="col-xs-5 col-sm-6 col-md-5">
								<h4>Indulási pont</h4>
								<p><small>É-D</small><br>
								<input class="input-sizeable" type="text" ng-model="plan.lat_start"><br>
								<small>K-Ny</small><br>
								<input class="input-sizeable" type="text" ng-model="plan.lng_start"></p>
								<h4>Érkezési pont</h4>
								<p><small>É-D</small><br>
								<input class="input-sizeable" type="text" ng-model="plan.lat_dest"><br>
								<small>K-Ny</small><br>
								<input class="input-sizeable" type="text" ng-model="plan.lng_dest"></p>
								<p><button type="button" class="btn btn-primary" ng-click="plan.plan()">Tervezés</button></p>
							</div>
							<div class="col-xs-7 col-sm-6 col-md-7">
								<div class="panel panel-info">
									<div class="panel-heading"><small>Beviteli formátumok</small></div>
									<div class="panel-body">
										<small>
											<a class="toggle-text-head" data-toggle="collapse" href="#degCollapse"><p><b>Fok:perc:mp<br>vagy tizedes fok</a></b><span class="caret"></p>
											<div id="degCollapse" class="collapse">
												<p>Használjon mínusz előjelet az egyenlítőtől délre,
												vagy Greenwich-től nyugatra eső koordinátáknál.</p>
												<p><blockquote small class="blockquote-fine">22:32:40.81 v. 22.54268<br>-22:32:40.81 v. -22.54268</blockquote></p>
											</div>
											<b><a class="toggle-text-head" data-toggle="collapse" href="#nsewCollapse"><p>N-S, E-W jelölés</a><span class="caret"></b></p>
											<div id="nsewCollapse" class="collapse">
												<p>É-D, K-Ny jelölés pozitív tizedes fok értékekkel.</p>
												<p><blockquote small class="blockquote-fine">N22.54268, S22.54268<br>E22.54268, W22.54268</blockquote></p>
											</div>
										</small>
									</div>
								</div>
							</div>
						</div>
					</tab>
				</tabset>
			</div>

			<!--div class="clearfix visible-sm-block"></div-->

			<div class="col-xs-12 col-sm-8 col-md-8">
				<input id="places-input" class="controls" type="text" placeholder="Search Places...">
				<br>
				<div id="map-panel" class="map-sizeable" ng-init="map_init()"></div>
			</div>

		</div>
	</div>
</div>
