<div ng-controller="MapController">
	<div class="container-fluid">
		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-4">
				<tabset>
					<tab heading="Pozíció">
						<small><h3>Pozíció meghatározás</h3><br></small>
						<div class="row">
							<div class="col-xs-5 col-sm-6 col-md-5">
								<p><small>É-D:</small><br>
								<input class="input-sizeable" type="text" ng-model="locate.lat"><br>
								<small>K-Ny:</small><br>
								<input class="input-sizeable" type="text" ng-model="locate.lng"></p>
								<p><button type="button" class="btn btn-primary" ng-click="locate.locate()">Keresés</button></p>
								<p><small><b><u>Cím:</u></b> {{locate.address}}</small></p>
								<small><b><u>Távolság:</u></b> <br></small>
							</div>
							<div class="col-xs-7 col-sm-6 col-md-7">
								<div class="panel panel-info">
									<div class="panel-heading"><small>Beviteli formátumok</small></div>
									<div class="panel-body">
										<small>
											<b><a class="toggle-text-head" data-toggle="collapse" href="#degCollapse"><p>Fok:perc:mp<br>vagy tizedes fok</a><span class="caret"></b></p>
											<div id="degCollapse" class="collapse">
												<p>Használjon mínusz előjelet az egyenlítőtől délre,
												vagy Greenwich-től nyugatra eső koordinátáknál.</p>
												<p><blockquote small class="blockquote-fine">22:32:40.81 v. 22.54268<br>-22:32:40.81 v. -22.54268</blockquote></p>
											</div>
											<b><a class="toggle-text-head" data-toggle="collapse" href="#nsewCollapse"><p>N-S, E-W jelölés</a><span class="caret"></b></p>
											<div id="nsewCollapse" class="collapse">
												<p>É-D, K-Ny jelölés pozitív tizedes fok értékekkel.</p>
												<p><blockquote small class="blockquote-fine">N22.54268, S22.54268<br>E22.54268, W22.54268</blockquote></p>
											</div>
										</small>
									</div>
								</div>
							</div>
						</div>
					</tab>

					<tab heading="Útvonal tervezés">
						<h4>Indulasi pont</h4>
						<br>
						Lat: <input type="text" ng-model="plan.lat_start">
						<br>
						Lng: <input type="text" ng-model="plan.lng_start">
						<br>
						<h4>Erkezesi pont</h4>
						<br>
						Lat: <input type="text" ng-model="plan.lat_dest">
						<br>
						Lng: <input type="text" ng-model="plan.lng_dest">
						<br>
						<br>
						<button type="button" class="btn btn-primary" ng-click="plan.plan()">Tervezes</button>
					</tab>
				</tabset>
			</div>

			<!--div class="clearfix visible-sm-block"></div-->

			<div class="col-xs-12 col-sm-12 col-md-8">
				<input id="places-input" class="controls" type="text" placeholder="Search Places...">
				<br>
				<div id="map-panel" class="map-sizeable" ng-init="map_init()"></div>
			</div>

		</div>
	</div>
</div>
