<div ng-controller="RealTimeController">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<input id="places-input" class="controls" type="text" placeholder="Search Places">
				<div map-div id="map-panel" class="col-md-8" ng-init=init()></div>
			</div>

			<div ng-controller="DropDownController">

				<div class="btn-group" dropdown is-open="status.isopen">
					<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
						Button dropdown <span class="caret"></span>
					</button>

					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="item in items">
							<a href ng-click="drawMarkers(item)">{{item}}</a>
						</li>
					</ul>
				</div>

			</div>

		</div>
	</div>
</div>
