<div ng-controller="ReportingController">
	<div class="container-fluid">
	<!-- <div class="container-flex"> -->
		<div class="row">

			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="panel panel-menu panel-info" id="panelManageMenu">

					<div class="panel-heading">
						<h4>Jelentes</h4>
					</div>

					<div class="panel-body">
						<ul class="nav nav-list">
							<li ng-click="setSelected('gps_report')" ng-class="{active: selected == 'gps_report'}"><a style="color:green;">GPS Jelentes</a></li>
							<li ng-click="setSelected('last_position')" ng-class="{active: selected == 'last_position'}"><a style="color:green;">Utolso Pozicio</a></li>
							<li ng-click="setSelected('distance_report')" ng-class="{active: selected == 'distance_report'}"><a style="color:purple;">Tavolsag Jelentes</a></li>
							<li ng-click="setSelected('travel_report')" ng-class="{active: selected == 'travel_report'}"><a style="color:purple;">Utazas Jelentes</a></li>
							<li ng-click="setSelected('stop_report')" ng-class="{active: selected == 'stop_report'}"><a style="color:purple;">Megallas Jelentes</a></li>
							<li ng-click="setSelected('idle_report')" ng-class="{active: selected == 'idle_report'}"><a style="color:purple;">Uresjarat Jelentes</a></li>
							<li ng-click="setSelected('driver_report')" ng-class="{active: selected == 'driver_report'}"><a>Sofor Jelentes</a></li>
							<li ng-click="setSelected('zone_report')" ng-class="{active: selected == 'zone_report'}"><a>Zona Jelentes</a></li>
							<li ng-click="setSelected('photo_report')" ng-class="{active: selected == 'photo_report'}"><a>Foto Jelentes</a></li>
							<li ng-click="setSelected('fuel_report')" ng-class="{active: selected == 'fuel_report'}"><a>Uzemanyag Jelentes</a></li>
							<li ng-click="setSelected('analogue_report')" ng-class="{active: selected == 'analogue_report'}"><a style="color:purple;">Analog Jelentes</a></li>
							<li ng-click="setSelected('ad1_chart')" ng-class="{active: selected == 'ad1_chart'}"><a>AD1 Diagram</a></li>
							<li ng-click="setSelected('ad2_chart')" ng-class="{active: selected == 'ad2_chart'}"><a>AD2 Diagram</a></li>
							<li ng-click="setSelected('io_report')" ng-class="{active: selected == 'io_report'}"><a>Be- es kimeneti Jelentes</a></li>
							<li ng-click="setSelected('speed_chart')" ng-class="{active: selected == 'speed_chart'}"><a>Sebesseg Diagram</a></li>
							<li ng-click="setSelected('not_reported')" ng-class="{active: selected == 'not_reported'}"><a>Nem jelentett kovetok</a></li>
							<li ng-click="setSelected('acknowledged_alarm')" ng-class="{active: selected == 'acknowledged_alarm'}"><a style="color:purple;">Kezelt riasztasok jelentes</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-8 col-md-9">
			<div>
				<div ng-if="selected == 'gps_report'" ng-include="'html/reporting_partials/gps_report.html'"></div>
				<div ng-if="selected == 'last_position'" ng-include="'html/reporting_partials/last_position.html'"></div>
				<div ng-if="selected == 'distance_report'" ng-include="'html/reporting_partials/distance_report.html'"></div>
				<div ng-if="selected == 'travel_report'" ng-include="'html/reporting_partials/travel_report.html'"></div>
				<div ng-if="selected == 'stop_report'" ng-include="'html/reporting_partials/stop_report.html'"></div>
				<div ng-if="selected == 'idle_report'" ng-include="'html/reporting_partials/idle_report.html'"></div>
				<div ng-if="selected == 'driver_report'" ng-include="'html/reporting_partials/driver_report.html'"></div>
				<div ng-if="selected == 'zone_report'" ng-include="'html/reporting_partials/zone_report.html'"></div>
				<div ng-if="selected == 'photo_report'" ng-include="'html/reporting_partials/photo_report.html'"></div>
				<div ng-if="selected == 'fuel_report'" ng-include="'html/reporting_partials/fuel_report.html'"></div>
				<div ng-if="selected == 'analogue_report'" ng-include="'html/reporting_partials/analogue_report.html'"></div>
				<div ng-if="selected == 'ad1_chart'" ng-include="'html/reporting_partials/ad1_chart.html'"></div>
				<div ng-if="selected == 'ad2_chart'" ng-include="'html/reporting_partials/ad2_chart.html'"></div>
				<div ng-if="selected == 'io_report'" ng-include="'html/reporting_partials/io_report.html'"></div>
				<div ng-if="selected == 'speed_chart'" ng-include="'html/reporting_partials/speed_chart.html'"></div>
				<div ng-if="selected == 'not_reported'" ng-include="'html/reporting_partials/not_reported.html'"></div>
				<div ng-if="selected == 'acknowledged_alarm'" ng-include="'html/reporting_partials/acknowledged_alarm.html'"></div>
			</div>

		</div>
	<!-- </div> -->
</div>
