<div ng-controller="LoginLogController">

  <div id="panelManageLogins" class="panel panel-flex-body panel-primary">

		<div class="panel-heading">
			<h4>Bejelentkezési napló</h4>
		</div>

    <div class="panel-body">
  		<!-- <div class="table-responsive"> -->
  			<table id="tableLogins" class="table table-striped table-hover">
  				<colgroup>
  					<col id="colUser">
  					<col id="colTimestamp">
  					<col id="colIP">
  					<col id="colSuccess">
  				</colgroup>
  				<thead class="thead-clickable">
  					<tr>
  						<th>
                <a ng-click="order('user + timestamp')" href="#">Felhasználó
                <span class="sortorder" ng-show="sortby === 'user + timestamp'" ng-class="{reverse:reverse}"></span></a>
              </th>
  						<th>
                <a ng-click="order('timestamp')" href="#">Időpont
                <span class="sortorder" ng-show="sortby === 'timestamp'" ng-class="{reverse:reverse}"></span></a>
              </th>
  						<th>
                <a ng-click="order('ip')" href="#">IP címről
                <span class="sortorder" ng-show="sortby === 'ip'" ng-class="{reverse:reverse}"></span></a>
              </th>
  						<th>
                <a ng-click="order('authorised')" href="#">Sikeres belépés
                <span class="sortorder" ng-show="sortby === 'authorised'" ng-class="{reverse:reverse}"></span></a>
              </th>
  					</tr>
  				</thead>
  				<tbody>
  					<tr ng-repeat="login in logins | orderBy:sortby:reverse" ng-class="{failed:!{{login.authorised}}}">
              <td>{{login.user}}</td>
              <td>{{login.timestamp}}</td>
              <td>{{login.ip}}</td>
              <td>{{login.authorised}}</td>
  					</tr>
  				</tbody>
  			</table>
  		<!-- </div> -->
    </div>

  </div>

</div>
