<div class="panel panel-primary">
	<table id="tablePrivileges" class="table table-striped">
		<colgroup>
			<col id="col1">
			<col id="col2">
			<col id="col3">
			<col id="col4">
		</colgroup>
		<thead></thead>
		<tbody>
			<tr>
				<th class="bg-info text-primary" colspan="3">Tabs</th>
				<th class="bg-info">
					<button type="button"  class="btn btn-flat-xs btn-flat-primary fa fa-square-o pull-right"></button>
					<button type="button" class="btn btn-flat-xs btn-flat-primary fa fa-check-square-o pull-right"></button>
				</th>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="tab_location" ng-checked="tabChecked" value="tab_location" checked>Map</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="tab_realtime" ng-checked="tabChecked" value="tab_realtime" checked>Realtime</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="tab_history" ng-checked="tabChecked" value="tab_history" checked>History</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="tab_report" ng-checked="tabChecked" value="tab_report" checked>Report</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="tab_manage" value="tab_manage">Manage</label></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="bg-info text-primary" colspan="3">Realtime Tab</th>
				<th class="bg-info text-primary">
					<button type="button"  class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-square-o pull-right" ng-click="tabChecked = true"></button>
					<button type="button" class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-check-square-o pull-right" ng-click="tabChecked = false"></button>
				</th>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_geofence" value="realtime_geofence" checked>Geo-fence</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_speedalarm" value="realtime_speedalarm" checked>Speed Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_stopengine" value="realtime_stopengine" checked>Stop Engine</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_clearstoreddata" value="realtime_clearstoreddata">Clear Stored Data</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_sendsms" value="realtime_sendsms" checked>Send SMS</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_sendcommand" value="realtime_sendcommand" checked>Send Command</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_takephoto" value="realtime_takephoto" checked>Take Photo</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_restartgps" value="realtime_restartgps">Restart GPS</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_updateposition" value="realtime_updateposition" checked>Update Position</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_reportinterval" value="realtime_reportinterval" checked>Report Interval</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_sellallsubusertrackers" value="realtime_sellallsubusertrackers" checked>See All Sub User Trackers</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_sellalltrackers" value="realtime_sellalltrackers">See All Trackers in System</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_view_poi" value="realtime_view_poi">View POI</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_public_poi" value="realtime_public_poi">Add Public POI</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_handlealarm" value="realtime_handlealarm">Handle Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_manual_alarm" value="realtime_manual_alarm">Manual Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_show_dash_panel" value="show_dash_panel" checked>Show Dash Panel</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_add_poi" value="realtime_add_poi">Add POI</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_trackerSrc" value="realtime_trackerSrc" checked>Add Tracker Image</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_rich_info" value="realtime_rich_info" checked>Rich Info</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_alarm_action" value="alarm_action" checked>Alarm Action</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_alarm_time" value="alarm_time">Alarm Time</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rt_history_line" value="realtime_history_line">History Line</label></td>
				<td></td>
			<tr>
				<th class="bg-info text-primary" colspan="3">Realtime Tab / Left Side Panel</th>
				<th class="bg-info text-primary">
					<button type="button"  class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-square-o pull-right"></button>
					<button type="button" class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-check-square-o pull-right"></button>
				</th>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rtlp_show_user_list" value="show_user_list" checked>Show User List</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rtlp_show_quick_findbox" value="show_quick_findbox" checked>Show Quick Findbox</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rtlp_show_output_box" value="show_output_box" checked>Show Output Box</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rtlp_show_OutputInput" value="show_OutputInput" checked>Show IO Interface</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rtlp_show_devices_list" value="show_devices_list" checked>Show Devices List</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rtlp_show_model_tra_list" value="show_model_tra_list" checked>Show Model In Tracker List</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rtlp_show_name_tra_list" value="show_name_tra_list" checked>Show Name In Tracker List</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rtlp_show_id_tra_list" value="show_id_tra_list">Show Device ID In Tracker List</label></td>
			</tr>
			<tr>
				<th class="bg-info text-primary" colspan="3">History Tab</th>
				<th class="bg-info text-primary">
					<button type="button"  class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-square-o pull-right"></button>
					<button type="button" class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-check-square-o pull-right"></button>
				</th>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="history_playhistory" value="history_playhistory" checked>Play/Stop History</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="history_savekml" value="history_savekml" checked>Save to KML file</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="history_savepdf" value="history_savepdf" checked>Save To File</label></td>
				<td></td>
			<tr>
				<th class="bg-info text-primary" colspan="3">Report Tab</th>
				<th class="bg-info text-primary">
					<button type="button"  class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-square-o pull-right"></button>
					<button type="button" class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-check-square-o pull-right"></button>
				</th>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_gpsreport" value="report_gpsreport" checked>GPS Report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_distancereport" value="report_distancereport" checked>Distance Report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_stopreport" value="report_stopreport" checked>Stop Report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_photoreport" value="report_photoreport" checked>Photo Report</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_invalidreport" value="report_invalidreport" checked>Invalid Tracker Report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_alarmreport" value="report_alarmreport">Handle Alarm Report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_speedchart" value="report_speedchart" checked>Speed Report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_adreport" value="report_adreport" checked>AD Report</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_last_pos_report" value="report_last_pos_report">Last Position Report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_ioreport" value="report_ioreport" checked>I/O Report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_tripreport" value="report_tripreport" checked>Trip Report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_fuelreport" value="report_fuelreport" checked>Fuel Report</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_idlereport" value="report_idlereport">Idle Report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_export_distancereport" value="export_distancereport" checked>Export distance report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_area" value="report_area" checked>Area Report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_getalladdress" value="report_getalladdress">Get All Address</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_customize_report_view" value="customize_report_view">View Customized Report</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="rep_customize_report_mgr" value="customize_report_mgr">Manage Customized Report</label></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="bg-info text-primary" colspan="3">Manage Tab</th>
				<th class="bg-info text-primary">
					<button type="button"  class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-square-o pull-right"></button>
					<button type="button" class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-check-square-o pull-right"></button>
				</th>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_trackerconfig" value="manage_trackerconfig" checked>Tracker Config</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_trackeraddtouser" value="manage_trackeraddtouser">Add to user</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_modifypassword" value="manage_modifypassword" checked>Modify Password</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_useraccount" value="manage_useraccount" checked>My Account</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_shareuser" value="manage_shareuser">Share Trackers to User</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_addselfuserrole" value="manage_addselfuserrole">Add self user role</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_emailsetting" value="manage_emailsetting">Email Setting</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_usermanage" value="manage_usermanage">User Management</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_expiredate" value="manage_expiredate">Expire Date</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_alarmevent" value="manage_alarmevent">Alarm Event</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_ad" value="manage_ad">Manage AD</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_task" value="manage_task">Task</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="manage_alarm_content" value="manage_alarm_content">Customize Alarm Content</label></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="bg-info text-primary" colspan="3">Other</th>
				<th class="bg-info text-primary">
					<button type="button"  class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-square-o pull-right"></button>
					<button type="button" class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-check-square-o pull-right"></button>
				</th>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="other_style" value="other_style" checked>Style</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="other_language" value="other_language" checked>Language</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="other_map" value="other_map" checked>Map</label></td>
				<td></td>
			</tr>
			<tr>
				<th class="bg-info text-primary" colspan="3">	Handle Alarm</th>
				<th class="bg-info text-primary">
					<button type="button"  class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-square-o pull-right"></button>
					<button type="button" class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-check-square-o pull-right"></button>
				</th>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_1" value="handle_alarm_1" checked>SOS Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_2" value="handle_alarm_2" checked>Key 2 Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_3" value="handle_alarm_3" checked>Key 3 Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_4" value="handle_alarm_4" checked>Key 4 Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_5" value="handle_alarm_5" checked>Key 5 Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_16" value="handle_alarm_16">Low Power Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_17" value="handle_alarm_17" checked>Speed Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_18" value="handle_alarm_18" checked>Position Move Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_19" value="handle_alarm_19" checked>Geo Fence Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_20" value="handle_alarm_20">Reset Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_21" value="handle_alarm_21">No GPS Signal alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_22" value="handle_alarm_22">Restore GPS Signal Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_48" value="handle_alarm_48">AD1 Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_49" value="handle_alarm_49">AD2 Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_50" value="handle_alarm_50">AD3 Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_51" value="handle_alarm_51">AD4 Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_80" value="handle_alarm_80">Power Cut Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_82" value="handle_alarm_82">Veer Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_96" value="handle_alarm_96">Mileage Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_97" value="handle_alarm_97">GAS Leak Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_98" value="handle_alarm_98">GAS Add Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_101" value="handle_alarm_101">Shake Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_102" value="handle_alarm_102">Enter Sleep Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_103" value="handle_alarm_103">Wakeup Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_104" value="handle_alarm_104">Hard Braking Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_105" value="handle_alarm_105">Hard Acceleration Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_112" value="handle_alarm_112">Key 1 Up Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_113" value="handle_alarm_113">Key 2 Up Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_114" value="handle_alarm_114">Key 3 Up Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_115" value="handle_alarm_115">Key 4 Up Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_116" value="handle_alarm_116">Key 5 Up Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_117" value="handle_alarm_117">Tow Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_118" value="handle_alarm_118">Zone Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_119" value="handle_alarm_119">GPS Cut Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_120" value="handle_alarm_120">No Shake Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_121" value="handle_alarm_121">Fatigue Driving Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_128" value="handle_alarm_128">Fatigue Driving Relieve</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_512" value="handle_alarm_512" checked>Manual Phone Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="handle_alarm_513" value="handle_alarm_513" checked>Manual SMS Alarm</label></td>
				<td></td>
			</tr>
			<tr>
				<th class="bg-info text-primary" colspan="3">Send Email Alert on</th>
				<th class="bg-info text-primary">
					<button type="button"  class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-square-o pull-right"></button>
					<button type="button" class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-check-square-o pull-right"></button>
				</th>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_1" value="email_alarm_1" checked>SOS Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_2" value="email_alarm_2" checked>Key 2 Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_3" value="email_alarm_3" checked>Key 3 Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_4" value="email_alarm_4">Key 4 Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_5" value="email_alarm_5" checked>Key 5 Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_16" value="email_alarm_16" checked>Low Power Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_17" value="email_alarm_17" checked>Speed Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_18" value="email_alarm_18" checked>Position Move Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_19" value="email_alarm_19" checked>Geo Fence Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_20" value="email_alarm_20" checked>Reset Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_21" value="email_alarm_21">No GPS Signal alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_22" value="email_alarm_22">Restore GPS Signal Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_48" value="email_alarm_48" checked>AD1 Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_49" value="email_alarm_49" checked>AD2 Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_50" value="email_alarm_50" checked>AD3 Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_51" value="email_alarm_51" checked>AD4 Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_80" value="email_alarm_80" checked>Power Cut Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_82" value="email_alarm_82">Veer Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_96" value="email_alarm_96" checked>Mileage Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_97" value="email_alarm_97">GAS Leak Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_98" value="email_alarm_98">GAS Add Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_101" value="email_alarm_101">Shake Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_102" value="email_alarm_102" checked>Enter Sleep Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_103" value="email_alarm_103">Wakeup Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_104" value="email_alarm_104">Hard Braking Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_105" value="email_alarm_105">Hard Acceleration Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_112" value="email_alarm_112" checked>Key 1 Up Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_113" value="email_alarm_113" checked>Key 2 Up Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_114" value="email_alarm_114" checked>Key 3 Up Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_115" value="email_alarm_115">Key 4 Up Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_116" value="email_alarm_116" checked>Key 5 Up Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_117" value="email_alarm_117">Tow Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_118" value="email_alarm_118">Zone Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_119" value="email_alarm_119">GPS Cut Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_120" value="email_alarm_120">No Shake Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_121" value="email_alarm_121">Fatigue Driving Alarm</label></td>
			</tr>
			<tr>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_128" value="email_alarm_128">Fatigue Driving Relieve</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_512" value="email_alarm_512">Manual Phone Alarm</label></td>
				<td><label class="chk-label"><input type="checkbox" name="checkVal" id="email_alarm_513" value="email_alarm_513">Manual SMS Alarm</label></td>
			<td></td>
			</tr>
		</tbody>
	</table>
</div>
