<div ng-controller="TrackerConfigController">

	<div id="panelManageTrackers" class="panel panel-primary"> <!-- panel-flex-body -->

		<div class="panel-heading">
			<h4>Követők kezelése</h4>
		</div>

		<div class="panel-body">
			<div id="inputSearchUser" class="flex-item-flex">
				<div class="input-group input-group-sm" input="search">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary fa fa-search"></button>
					</span>
					<input type="text" class="form-control" placeholder="követőnév">
				</div>
			</div>
		</div>

	<!-- Root level -->

		<squeezebox id="squeezeboxRoot" class="button-style" close-others="false">
	    <squeezebox-group is-open="users[0].isOpen">
	      <squeezebox-heading>
					<span class="fa fa-fw panel-title-item" ng-class="{'fa-user-plus': users[0].owned_users.length != 0, 'fa-user': users[0].owned_users.length === 0}"></span>
					<span class="panel-title-item">{{users[0].username}}</span>
					<span class="label label-primary panel-title-item flex-item-fixed">
						<span ng-show="users[0].owned_users.length != 0">
							{{users[0].owned_users.length}}
							<span class="fa fa-user" style="margin-right:6px;"></span>
						</span>
						{{users[0].trackers.length}}/{{users[0].max_trackers}}
						<span class="fa fa-automobile"></span>
					</span>
					<span class="fa panel-title-item" ng-class="{'fa-chevron-down': users[0].isOpen, 'fa-chevron-right': !users[0].isOpen}"></span>
	      </squeezebox-heading>
	      <squeezebox-heading-plus>
					<div ng-show="users[0].isOpen">
						<button class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-automobile"></button>
						<button class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-user-plus"></button>
					</div>
	      </squeezebox-heading-plus>
				<div class="table-responsive" ng-hide="users[0].trackers.length === 0">
					<table id="tableModels" class="table table-striped table-hover">
						<colgroup>
							<col id="colName">
							<col id="colModel">
							<col id="colGID">
							<col id="colAction">
						</colgroup>
						<thead class="thead-clickable">
							<tr>
								<th><a href="#">Név</a></th>
								<th><a href="#">Típus</a></th>
								<th><a href="#">Azonosító</a></th>
								<th><a class="centered" href="#">Művelet</a></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="tracker in users[0].trackers">
								<td>{{tracker.name}}</td>
								<td>{{tracker.model}}</td>
								<td>{{tracker.GID}}</td>
								<td class="centered">
									<button type="button" class="btn btn-flat-sm btn-flat-primary fa fa-lg fa-edit" ng-click="openModifyModelModal(model)"></button>
									<button type="button"  class="btn btn-flat-sm btn-flat-danger fa fa-lg fa-times-circle" ng-click="deleteModel(model.name)"></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

	<!-- Child level -->

				<div class="squeezebox-wrapper"> <!-- for positioning inside parent --> <!-- Should have ng-hide="users[0].owned_users.length === 0" -->
					<squeezebox class="button-style" close-others="true">
						<squeezebox-group is-open="user.isOpen" ng-repeat="user in users.slice(1)">
				      <squeezebox-heading>
								<span class="fa fa-fw panel-title-item" ng-class="{'fa-user-plus': user.owned_users.length != 0, 'fa-user': user.owned_users.length === 0}"></span>
								<span class="panel-title-item">{{user.username}}</span>
								<span class="label label-warning panel-title-item flex-item-fixed">
									<span ng-show="user.owned_users.length != 0">
										{{user.owned_users.length}}
										<span class="fa fa-user" style="margin-right:6px;"></span>
									</span>
									{{user.trackers.length}}/{{user.max_trackers}}
									<span class="fa fa-automobile"></span>
								</span>
								<span class="fa panel-title-item" ng-class="{'fa-chevron-down': user.isOpen, 'fa-chevron-right': !user.isOpen}"></span>
				      </squeezebox-heading>
							<squeezebox-heading-plus>
								<div ng-show="user.isOpen">
									<button class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-automobile"></button>
									<button class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-user-plus"></button>
								</div>
				      </squeezebox-heading-plus>
							<div class="table-responsive" ng-hide="user.trackers.length === 0">
								<table id="tableTrackers" class="table table-striped table-hover">
									<colgroup>
										<col id="colName">
										<col id="colModel">
										<col id="colGID">
										<col id="colAction">
									</colgroup>
									<thead class="thead-clickable">
										<tr>
											<th><a href="#">Név</a></th>
											<th><a href="#">Típus</a></th>
											<th><a href="#">Azonosító</a></th>
											<th><a class="centered" href="#">Művelet</a></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="tracker in user.trackers">
											<td>{{tracker.name}}</td>
											<td>{{tracker.model}}</td>
											<td>{{tracker.GID}}</td>
											<td class="centered">
												<button type="button" class="btn btn-flat-sm btn-flat-primary fa fa-lg fa-edit" ng-click=""></button>
												<button type="button"  class="btn btn-flat-sm btn-flat-danger fa fa-lg fa-times-circle" ng-click=""></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

	<!-- Grandchild level -->

							<div class="squeezebox-wrapper" ng-hide="user.owned_users.length === 0"> <!-- for positioning inside parent -->
								<squeezebox class="button-style" close-others="true">
									<squeezebox-group is-open="user.isOpen" ng-repeat="user in user.owned_users"> <!-- Should be a collection, not a single value -->
										<squeezebox-heading>
											<span class="fa fa-fw panel-title-item" ng-class="{'fa-user-plus': user.owned_users.length != 0, 'fa-user': user.owned_users.length === 0}"></span>
											<span class="panel-title-item">{{user}}</span> <!-- Should be {{user.username}} in the right structure -->
											<span class="label label-warning panel-title-item flex-item-fixed">
												<span ng-show="user.owned_users.length != 0">
													{{user.owned_users.length}}
													<span class="fa fa-user" style="margin-right:6px;"></span>
												</span>
												{{user.trackers.length}}/{{user.max_trackers}}
												<span class="fa fa-automobile"></span>
											</span>
											<span class="fa panel-title-item" ng-class="{'fa-chevron-down': user.isOpen, 'fa-chevron-right': !user.isOpen}"></span>
										</squeezebox-heading>
										<squeezebox-heading-plus>
											<div ng-show="user.isOpen"> <!-- No good - this level's user is a single value, there's no isOpen attribute -->
												<button class="btn btn-flat-xs btn-flat-primary fa fa-lg fa-automobile"></button>
											</div>
										</squeezebox-heading-plus>
										<div class="table-responsive" ng-hide="user.trackers.length === 0"> <!-- No good - this level doesn't have trackers array -->
											<table id="tableTrackers" class="table table-striped table-hover">
												<colgroup>
													<col id="colName">
													<col id="colModel">
													<col id="colGID">
													<col id="colAction">
												</colgroup>
												<thead class="thead-clickable">
													<tr>
														<th><a href="#">Név</a></th>
														<th><a href="#">Típus</a></th>
														<th><a href="#">Azonosító</a></th>
														<th><a class="centered" href="#">Művelet</a></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="tracker in user.trackers">
														<td>{{tracker.name}}</td>
														<td>{{tracker.model}}</td>
														<td>{{tracker.GID}}</td>
														<td class="centered">
															<button type="button" class="btn btn-flat-sm btn-flat-primary fa fa-lg fa-edit" ng-click=""></button>
															<button type="button"  class="btn btn-flat-sm btn-flat-danger fa fa-lg fa-times-circle" ng-click=""></button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<p id="trackersPlaceholder" ng-show="user.trackers.length + user.owned_users.length === 0">Használja a fejléc gombjait új követő vagy felügyelt felhasználó hozzáadására</p>
									</squeezebox-group>
								</squeezebox>
							</div>
							<p id="trackersPlaceholder" ng-show="user.trackers.length + user.owned_users.length === 0">Használja a fejléc gombjait új követő vagy felügyelt felhasználó hozzáadására</p>
				  	</squeezebox-group>
		  		</squeezebox>
				</div>
	    </squeezebox-group>
	  </squeezebox>
	</div>

	<!-- <div class="table">
		<div class="table-header" style="display: inline-block;">
			<div class="table-cell">Name</div>
			<div class="table-cell">Model</div>
			<div class="table-cell">Tracker ID</div>
			<div class="table-cell">Operations</div>
		</div>

		<div class="table-row" ng-repeat="user in users">
			<div class="table-row">
				<div class="table-cell" ng-click="isCollapsed = !isCollapsed">{{user.username}}</div>
			</div>
			<div class="table-row" collapse = "isCollapsed" ng-repeat="tracker in user.trackers">
				<div class="table-cell">{{tracker.name}}</div>
				<div class="table-cell">{{tracker.model}}</div>
				<div class="table-cell">{{tracker.id}}</div>
				<div class="table-cell" ng-click="openModal(tracker)">Modify</div>
				<div class="table-cell" ng-click="deleteTracker(tracker)" ng-click-confirm="Are you sure you want to delete this tracker?">Delete</div>
			</div>
		</div>
	</div> -->


	<div ng-controller="ModifyTrackerModalController">

		<script type="text/ng-template" id="tracker_config_modal.html">
			<div class="modal-header">
				<h3 class="modal-title">Configure Tracker</h3>
			</div>
			<div class="modal-body">
				<table>
				<tr><td>Name:</td> <td>{{form.name}}</td></tr>
				<tr><td>Tracker ID:</td> <td>{{form.GID}}</td></tr>
				<tr><td>Model:</td> <td>{{form.model}}</td></tr>
				<tr><td>Add to User:</td> <td></td></tr>
				<tr><td>Users:</td> <td></td></tr>
				<tr><td>Tracker Image:</td> <td></td></tr>
				<tr><td><button>Setup IO</button></td> <td><button>Modify</button></td></tr>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="ok()">OK</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
		</script>

	</div>

</div>
