<div ng-controller="TrackerConfigController">

	<div id="panelManageTrackers" class="panel panel-primary">

		<div class="panel-heading">
			<h4>Követők kezelése</h4>
		</div>

		<div class="panel-body">
			<div id="inputSearchUser" class="flex-item-flex">
				<div class="input-group input-group-sm" input="search">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary fa fa-search"></button>
					</span>
					<input type="text" class="form-control" placeholder="követő">
				</div>
			</div>
			<div ng-include src="'template/hier-top.html'"></div>
		</div>

	</div>

	<div ng-controller="ModifyTrackerModalController">
		<script type="text/ng-template" id="tracker_config_modal.html">
			<div class="modal-header">
				<h3 class="modal-title">Configure Tracker</h3>
			</div>
			<div class="modal-body">
				<table>
				<tr><td>Name:</td> <td>{{form.name}}</td></tr>
				<tr><td>Tracker ID:</td> <td>{{form.GID}}</td></tr>
				<tr><td>Model:</td> <td>{{form.model}}</td></tr>
				<tr><td>Add to User:</td> <td></td></tr>
				<tr><td>Users:</td> <td></td></tr>
				<tr><td>Tracker Image:</td> <td></td></tr>
				<tr><td><button>Setup IO</button></td> <td><button>Modify</button></td></tr>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="ok()">OK</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
		</script>
	</div>

</div>
