<div ng-controller="UserManagementController">

	<div id="panelManageUsers" class="panel panel-flex-body panel-primary">

		<div class="panel-heading">
			<h4>Felhasználók kezelése</h4>
		</div>

		<div class="panel-body">
			<div id="inputSearchUser" class="flex-item-flex">
				<div class="input-group input-group-sm" input="search">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary fa fa-search"></button>
					</span>
					<input type="text" class="form-control" placeholder="felhasználónév">
				</div>
			</div>
			<button id="btnNewUser" class="flex-item-fixed btn btn-sm btn-primary" ng-click="openNewUserModal()">Új felhasználó</button>
		</div>

		<div class="table-responsive">
			<table id="tableUsers" class="table table-striped table-hover">
				<colgroup>
					<col id="colSpanData" span="6">
					<col id="colAction">
				</colgroup>
				<thead class="thead-clickable">
					<tr>
						<th><a href="#">Felhasználó</a></th>
						<th><a href="#">Maximális követőszám</a></th>
						<th><a href="#">Szerepkör</a></th>
						<th><a href="#">Felügyeli</a></th>
						<th><a href="#">Állapot</a></th>
						<th><a href="#">Lejárat dátuma</a></th>
						<th><a class="centered" href="#">Művelet</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users">
						<td>{{user.username}}</td>
						<td>{{user.max_trackers}}</td>
						<td>{{user.role}}</td>
						<td>{{user.owner}}</td>
						<td>{{user.status}}</td>
						<td>Expire Date</td>
						<td class="centered">
							<button type="button" class="btn btn-flat-sm btn-flat-primary fa fa-lg fa-edit" ng-click="openModifyModal(user)"></button>
							<button type="button"  class="btn btn-flat-sm btn-flat-danger fa fa-lg fa-times-circle" ng-disabled="user.username=='admin'"></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div ng-controller="ModifyUserModalController">
		<script type="text/ng-template" id="modify_user_modal.html">
			<div class="modal-header">
				<h3 class="modal-title">Modify User <small>{{current_user.username}}</small></h3>
			</div>
			<div class="modal-body">
			<table>
					<tr><th>Username:</th><td><input type="text" ng-model="form.username"></td></tr>
					<tr><th>New password:</th><td><input type="password" placeholder="password" ng-model="form.password"></td></tr>
					<tr><th>Confirm new password:</th><td><input type="password" placeholder="password" ng-model="form.passwordConfirm"></td></tr>
					<tr><th>Timezone:</th><td><input type="text" ng-model="form.timezone"></td></tr>
					<tr><th>Max number of trackers:</th><td><input type="text" ng-model="form.max_trackers"></td></tr>
					<tr><th>User role:</th><td>

					<div class="btn-group" dropdown is-open="status.isopen">
						<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
							{{form.role}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="role in roles">
								<a href ng-click="setRole(role.name)">{{role.name}}</a>
							</li>
						</ul>
					</div>

					</td></tr>
					<tr><th>Status:</th><td>

					<div class="btn-group" dropdown is-open="status2.isopen">
						<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
							{{form.status}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href ng-click="setStatus('Active')">Active</a>
							</li>
							<li>
								<a href ng-click="setStatus('Inactive')">Inactive</a>
							</li>
						</ul>
					</div>

					</td></tr>
					<tr><th>Expiry Date:</th><td>

						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="toDate" is-open="toOpened" ng-required="true" close-text="Close" ng-model="user.expiryDate"/>
							<span class="input-group-btn">
								<button id="to" type="button" class="btn btn-default" ng-click="datePickerOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>

					</td></tr>
					<tr><th>Owner:</th><td>

					<div class="btn-group" dropdown is-open="status3.isopen">
						<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
							{{form.owner}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="user in users">
								<a href ng-click="setOwner(user.username)">{{user.username}}</a>
							</li>
						</ul>
					</div>

					</td></tr>
					<tr><th>Realtime handling steps:</th><td><textarea class="modal-textarea" ng-model="form.handlingSteps"></textarea></td></tr>
					<tr><th>Notes:</th><td><textarea class="modal-textarea" ng-model="form.notes"></textarea></td></tr>
			</table>
			<div class="alert alert-warning" role="alert">{{alert}}</div>
			<div class="alert alert-success" role="alert">{{message}}</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="ok()">OK</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
		</script>
	</div>

</div>
